.statistics {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.stat-list {
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
}

.label {
  font-size: 14px;
}

.percentage {
  font-size: 18px;
  font-weight: bold;
}
